.wrapper {
  display: grid;
  grid-template-columns: 250px 1 fr;
  grid-template-rows: 150px 1 fr 120px;
  grid-template-areas: "choosedata chooseuser choosecoins"
                      "card2";
  grid-gap:5px 10px
}

.choosecoins{
font-size: 18px;
display: inline-block;
padding: 7px 7px;
margin: 2px;


}
.chooseuser {
font-size: 32px;
width: 30%;
height: 30px;
padding: 7px 7px;
margin: 2px;
opacity: 1;
top: 10px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
overflow: hidden; 
font-size: 20px;
display: inline-block;
  }

.choosedata {
    width: 90%;
    height:30%;
    background-color: #E0E0E0;
    padding: 7px 7px;
    margin: 5%;
    opacity: 1;
    position: absolute;
    top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden; 
    font-size: 20px;
    display: inline-block;

}


 .card2 {
  width: 90%;
  height:30%;
  background-color: #E0E0E0;
  padding: 7px 7px;
  margin: 5%;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden; 
  font-size: 20px;
  display: inline-block;

}
.p{ 
color: rgb(114, 119, 114);
}
.h1 {font-size: 28px;
}

