* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_6 {
  width: 100%;
  height: 1024px;
  background: rgba(55,86,146,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_7 {
  width: 100%;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1332px;
  left: 4505px;
  overflow: hidden;
}
.v0_8 {
  width: 65px;
  color: rgba(165,161,161,1);
  position: absolute;
  top: 23px;
  left: 232px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_9 {
  width: 48px;
  color: rgba(165,161,161,1);
  position: absolute;
  top: 23px;
  left: 311px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_10 {
  width: 49px;
  color: rgba(83,56,56,1);
  position: absolute;
  top: 23px;
  left: 152px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_11 {
  width: 143px;
  height: 91px;
  background: url("../images/v0_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
  overflow: hidden;
}
.v0_12 {
  width: 71px;
  color: rgba(165,161,161,1);
  position: absolute;
  top: 23px;
  left: 373px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_13 {
  width: 56px;
  height: 28px;
  background: url("../images/v0_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 609px;
  overflow: hidden;
}
.v0_14 {
  width: 56px;
  height: 28px;
  background: url("../images/v0_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 854px;
  overflow: hidden;
}
.v0_15 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 658px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_16 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 910px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_17 {
  width: 42px;
  color: rgba(165,161,161,1);
  position: absolute;
  top: 23px;
  left: 457px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_18 {
  width: 50px;
  height: 50px;
  background: url("../images/v0_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 1340px;
  overflow: hidden;
}
.v0_19 {
  width: 50px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v0_20 {
  width: 50px;
  height: 42px;
  background: url("../images/v0_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_21 {
  width: 121px;
  height: 169px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1396px;
  left: 3199px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v0_22 {
  width: 121px;
  height: 35px;
  background: rgba(247,250,252,1);
  opacity: 1;
  position: absolute;
  top: 1515px;
  left: 3199px;
  overflow: hidden;
}
.v0_23 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1441px;
  left: 3168px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_24 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1411px;
  left: 3178px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_25 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1465px;
  left: 3165px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_26 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1484px;
  left: 3187px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_27 {
  width: 51px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1508px;
  left: 3164px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_28 {
  width: 100%;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_29 {
  width: 143px;
  height: 91px;
  background: url("../images/v0_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
  overflow: hidden;
}
.v0_30 {
  width: 45px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 153px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_31 {
  width: 47px;
  color: rgba(165,161,161,1);
  position: absolute;
  top: 22px;
  left: 242px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_32 {
  width: 64px;
  color: rgba(165,161,161,1);
  position: absolute;
  top: 22px;
  left: 333px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_33 {
  width: 426px;
  height: 97px;
  background: url("../images/v0_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 106px;
  overflow: hidden;
}
.v0_34 {
  width: 426px;
  height: 64px;
  background: url("../images/v0_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  border: 1px solid rgba(255,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v0_35 {
  width: 120px;
  color: rgba(133,145,165,1);
  position: absolute;
  top: 56px;
  left: 30px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_36 {
  width: 41px;
  color: rgba(0,2,7,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.putpass {
  width: 426px;
  height: 64px;
  background: url("../images/v0_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 106px;
  border: 1px solid rgba(133,145,165,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.figurasenha {
  width: 86px;
  color: rgba(133,145,165,1);
  position: absolute;
  top: 393px;
  left: 138px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.textsenha {
  width: 48px;
  color: rgba(0,4,11,1);
  position: absolute;
  top: 340px;
  left: 108px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.symbolsenha2 {
  width: 24px;
  height: 19px;
  background: rgba(215,220,229,1);
  opacity: 1;
  position: absolute;
  top: 395px;
  left: 482px;
}
.v0_41 {
  width: 426px;
  height: 111px;
  background: url("../images/v0_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 106px;
  overflow: hidden;
}
.v0_42 {
  width: 426px;
  height: 64px;
  background: url("../images/v0_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  border: 1px solid rgba(133,145,165,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.nameone {
  width: 40px;
  color: rgba(133,145,165,1);
  position: absolute;
  top: 65px;
  left: 21px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.companyname {
  width: 171px;
  color: rgba(0,9,24,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_45 {
  width: 426px;
  height: 64px;
  background: url("../images/v0_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 610px;
  left: 108px;
  overflow: hidden;
}
.v0_46 {
  width: 426px;
  height: 64px;
  background: rgba(255,153,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.registerbottom {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 178px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v0_48 {
  width: 14px;
  height: 14px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 728px;
  left: 108px;
  border: 1px solid rgba(51,51,51,1);
}
.v0_49 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 729px;
  left: 138px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v0_50 {
  width: 426px;
  height: 97px;
  background: url("../images/v0_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 544px;
  overflow: hidden;
}
.v0_51 {
  width: 426px;
  height: 64px;
  background: url("../images/v0_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  border: 1px solid rgba(255,0,0,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v0_52 {
  width: 120px;
  color: rgba(133,145,165,1);
  position: absolute;
  top: 56px;
  left: 30px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_53 {
  width: 41px;
  color: rgba(0,2,7,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_54 {
  width: 426px;
  height: 64px;
  background: url("../images/v0_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 544px;
  border: 1px solid rgba(133,145,165,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v0_55 {
  width: 86px;
  color: rgba(133,145,165,1);
  position: absolute;
  top: 393px;
  left: 512px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_56 {
  width: 48px;
  color: rgba(0,4,11,1);
  position: absolute;
  top: 340px;
  left: 542px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_57 {
  width: 24px;
  height: 19px;
  background: rgba(215,220,229,1);
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 168px;
}
.v0_58 {
  width: 426px;
  height: 111px;
  background: url("../images/v0_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 544px;
  overflow: hidden;
}
.v0_59 {
  width: 426px;
  height: 64px;
  background: url("../images/v0_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  border: 1px solid rgba(133,145,165,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v0_60 {
  width: 40px;
  color: rgba(133,145,165,1);
  position: absolute;
  top: 65px;
  left: 21px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_61 {
  width: 150px;
  color: rgba(0,9,24,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_62 {
  width: 426px;
  height: 64px;
  background: url("../images/v0_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 610px;
  left: 542px;
  overflow: hidden;
}
.v0_63 {
  width: 426px;
  height: 64px;
  background: rgba(255,153,159,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v0_64 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 178px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v0_65 {
  width: 14px;
  height: 14px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 730px;
  left: 541px;
  border: 1px solid rgba(51,51,51,1);
}
.v0_66 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 729px;
  left: 512px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.regfuncio {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 174px;
  left: 502px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.regempresa {
  width: 316px;
  height: 44px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 180px;
  left: 169px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  line-height: 44px;
  align-items: center;
}

.registroscreen {
	width: 100%;
	height: 100%;
	background-color: #385793;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 44px;
	left: 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
  }