* {
	box-sizing: border-box;
  }
  body {
	font-size: 14px;
  }
  .screen {
	width: 100%;
	height: 100%;
	opacity: 1;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
  }
  .screencenter {
	width: 100%;
	height: 100%;
	background: url("../images/v7_75.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 44px;
	left: 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
  }
  .navbar {
	width: 100%;
	height: 44px;
	background: #ffffff;
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
  }
  .contato {
	width: 47px;
	color: rgba(165,161,161,1);
	position: absolute;
	top: 12px;
	left: 316px;
	font-family: Roboto;
	font-weight: Regular;
	font-size: 18px;
	opacity: 1;
	text-align: left;
	text-decoration: none;
  }
  .sobre {
	width: 47px;
	color: rgba(165,161,161,1);
	position: absolute;
	top: 12px;
	left: 233px;
	font-family: Roboto;
	font-weight: Regular;
	font-size: 18px;
	opacity: 1;
	text-align: left;
	text-decoration: none;
}
.sobretxt{
	color: black;
	font-size: 14px;
	font-family: roboto;
	text-align: center;	
  }

  .inicio {
	width: 47px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 12px;
	left: 162px;
	font-family: Roboto;
	font-weight: Bold;
	font-size: 18px;
	opacity: 1;
	text-align: left;
	
  }
  .logo {
	width: 130px;
	height: 84px;
	background: url("../images/v7_80.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: -3px;
	left: -3px;
	overflow: hidden;
  }
  .login {
	width: 41px;
	color: rgba(9,9,9,1);
	position: absolute;
	top: 25px;
	left: 1845px;
	font-family: Roboto;
	font-weight: Bold;
	font-size: 16px;
	opacity: 1;
	text-align: left;
  }
  .v7_83 {
	width: 83px;
	height: 29px;
	background: rgba(255,255,255,1);
	opacity: 1;
	position: absolute;
	top: 19px;
	left: 1338px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
  }
  .cadastro {
	width: 88px;
	color: rgba(9,9,9,1);
	position: absolute;
	top: 5px;
	left: 1820px;
	font-family: Roboto;
	font-weight: Bold;
	font-size: 16px;
	opacity: 1;
	text-align: left;
  }
  .logocenter {
	width: 1050px;
	height: 760px;
	background: url("../images/v14_3.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 250px;
	left: 950px;
	overflow: hidden;
  }
  .contact_title {
   text-align: center;
   color: #f72585;
   font-size: 48px;
   padding: 45px 0;
   font-family: "Barlow", sans-serif;
   text-transform: uppercase;
   font-style: italic;
   margin: 0;

  }
  .screencentercontato {
	width: 100%;
	height: 100%;
	background-color: #4361ee;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 63px;
	left: 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
  }